*.class
!.gitignore
lib
/bin
/*.bat
*.war
*.ear
target/
target
/target
/target/
.settings/
.project
.classpath
.settings/*.classpath
.idea/
/idea/
*.ipr
*.iml
*.iws
/*.iml
*.log
*.cache
*.diff
*.patch
*.tmp
logs/
bin/
.DS_Store
Thumbs.db
